In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data = "data/city_data.csv"
ride_data = "data/ride_data.csv"

# Read the City and Ride Data
city_df = pd.read_csv(city_data)
ride_df = pd.read_csv(ride_data)

# Combine the data into a single dataset
merged_df = pd.merge(city_df,ride_df, on="city")
# Display the data table for preview
merged_df.head(10)

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850
5  Richardfort            38  Urban  2018-04-21 03:44:04   9.54  3698147103219
6  Richardfort            38  Urban  2018-02-03 00:14:26  29.04  4982665519010
7  Richardfort            38  Urban  2018-02-08 15:50:12  16.55  2270463070874
8  Richardfort            38  Urban  2018-04-03 15:07:34  40.77  9496210735824
9  Richardfort            38  Urban  2018-02-19 14:09:20  27.11  8690324801449

## Bubble Plot of Ride Sharing Data

In [6]:
# Obtain the x and y coordinates for each of the three city types
# Separating city type groups
urban = merged_df[(merged_df["type"]=="Urban")]
suburban = merged_df[(merged_df["type"]=="Suburban")]
rural = merged_df[(merged_df["type"]=="Rural")]

# Ride count per type/city
urban_rides = urban.groupby("city")["ride_id"].count()
suburban_rides = suburban.groupby("city")["ride_id"].count()
rural_rides = rural.groupby("city")["ride_id"].count()

# Avg fare per type/city
urban_fare_avg = urban.groupby("city")["fare"].mean()
suburban_fare_avg = suburban.groupby("city")["fare"].mean()
rural_fare_avg = rural.groupby("city")["fare"].mean()

# Total driver counts by city
driver_totals = city_df.groupby("city")["driver_count"].sum()
driver_totals

city
Amandaburgh             12
Barajasview             26
Barronchester           11
Bethanyland             22
Bradshawfurt             7
Brandonfort             10
Carriemouth             52
Christopherfurt         41
Colemanland             23
Davidfurt               23
Deanville               49
East Aaronbury           7
East Danielview         22
East Kaylahaven         65
East Kentstad           20
East Marymouth           5
Erikaland               37
Garzaport                7
Grahamburgh             61
Grayville                2
Harringtonfort           4
Huntermouth             37
Hurleymouth             36
Jerryton                64
Jessicaport              1
Johnton                 27
Joneschester            39
Josephside              25
Justinberg              39
Karenberg               22
                        ..
South Evanton           11
South Jack              46
South Jennifer           7
South Karenland          4
South Latoya            10
South Marychester        1
South Michelleport      72
South Phillip           38
South Saramouth          7
South Teresa            21
Taylorhaven              1
Valentineton            45
Veronicaberg            20
Victoriaport            16
West Angela             48
West Anthony            70
West Christopherberg    32
West Ericstad           25
West Gabriel            57
West Hannah             12
West Heather             4
West Heidi              28
West Josephberg         45
West Kimmouth            4
West Patrickchester     25
West Robert             39
West Samuelburgh        73
Williamsonville          2
Williamsstad            59
Williamsview            46
Name: driver_count, Length: 120, dtype: int64

In [ ]:
# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()